* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
	font: 16px/1.42 'ralewaythin', sans-serif;
}
.wrapper {
	display: block;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	background-color: $bgColor;
}
.container {
	display: block;
	width: 1170px;
	margin: 0 auto;
	@extend %clearfix;
}
.section {
	color: #fff;
	@include font-size(15px);
}
.section__title {
	position: absolute;
	left: 50%;
  top: 50%;
  transform: translate(-35%, -50%) rotate(-90deg);
	display: inline-block;
	@include font-size(34px);	
}
.section__text {
	@include font-size(19px);
}
.section__block {
	background-color: $bgColor;
	box-shadow: 0px 178px 152px 0px rgba(0, 0, 0, 0.45);
	width: 660px;
	height: 634px;
}
.section__numbers {
	font-family: 'yantramanavblack', sans-serif;
	@include font-size(286px);
	line-height: 1;
	opacity: .01;
	letter-spacing: -25px;
	user-select: none;
	cursor: default;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	line-height: 1.42;
	font-size: 1em;
	margin: 0;
}